@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    box-sizing: border-box;
}
.container {
    background: #F2F2F2;
    width: 100%;
}
.nav_container {
    width: 100%;
    height: 60px;
    background: linear-gradient(97deg, #ff7a6e, #ff9770);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 6px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 165px 0 165px;
}
.heading_container {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_heading {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: white;
}
.nav_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;
}
.logout {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: white;
    margin-left: 105px;
}
.mid_container {
    width: 850px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}

.marina {
    display: flex;
}
.profile_box {
    border-radius: 2px;
    width: 322px;
    height: 145px;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
.img_frame {
    border: 3px solid #FF9770;
    width: 130px;
    height: 130px;
}
.avatar {
    width: 125px;
}
.edit_btn {
    border-radius: 1px;
    background-image: radial-gradient(circle at 50% 0, white, #f1eceb);
    border: solid 1px #ccc3c3;
    width: 150px;
    height: 35px;
    font-size: 16px;
    margin-top: 10px;
}
.desc_box {
    border-radius: 2px;
    width: 447px;
    height: 145px;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-left: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 23px;
    padding: 15px;
}
.friends_container {
    width: 100%;
    height: 500px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}
.RF_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.RF_title {
    font-size: 25px;
}
.friends {
    text-align: center;
}